<div class="row mb-3">
    <div class="col-lg-10">
        <h2 class="text-center">Bảng danh sách nhân viên</h2>
    </div>
    <div class="col-lg-2">
        <div class="row align-items-center" routerLink="/addNew">
            <i class="fa-solid fa-square-plus text-left addNew"></i>
            <span>Thêm mới</span>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <!-- <div></div> -->
            <th>STT</th>
            <th>Tên</th>
            <th>Ảnh</th>
            <th>Gía</th>
            <th>Đã giảm Gía</th>
            <th>Mô tả</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of listIn4, let i = index" class="trRow">

            <td scope="row">{{i}}</td>
            <td><input type="text ipName" value="{{item.name}}" [(ngModel)]="item.name" id='name{{i}}'></td>
            <td>
                <img src="{{item.img}}" width="80px" height="80px" id="img{{i}}">
                <input class="d-none" type="text ipAdress" value="{{item.img}}" [(ngModel)]="item.img" id='Linkimg{{i}}'>
            </td>
            <td><input type="text ipSDT" value="{{item.price}}" [(ngModel)]="item.price" id='price{{i}}'></td>
            <td><input type="text ipSDT" value="{{item.salePrice}}" [(ngModel)]="item.salePrice" id='salePrice{{i}}'></td>
            <td><input type="text ipSDT" value="{{item.description}}" [(ngModel)]="item.description" id='description{{i}}'></td>
            <td class="option">
                <div class="row position-relative">
                    <div><a class="bg-primary d-none saveBut" href="#" id="saveBut{{i}}" role="button" (click)="saveEdit(i)">Save</a></div>
                    <div><i class="fa-solid fa-pen-to-square text-info edit" (click)="edit(i)"></i></div>
                    <div><i class="fa-solid fa-trash text-danger delete" (click)="delete(i)"></i></div>
                </div>
            </td>
            <div class="blockList" id='box{{i}}'></div>
        </tr>
    </tbody>
</table>